* { font-family: 'Inter', sans-serif; }
html { scroll-behavior: smooth; }

/* src/index.css */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;        /* ✅ 흰 여백 제거 핵심 */
  padding: 0;
  overflow-x: hidden;
}
